:root {
  --primary-color: #357b70;
  --secondary-color: #e0b354;
  --dark-grey: #2b2b2b;
  --link-decoration-color: rgba(221, 212, 30, 0.81);
  --link-visited-color: #05676e;
  --link-active-color: #489c79;
  --button-secondary-color: rgb(45, 161, 163);
  --header-font-weight: 700;

}

* {
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
}

#my-work__heading {
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}

a {
  color: var(--primary-color);
}

a:visited {
  color: var(--link-visited-color);
}

a:hover,
a:focus {
  text-decoration: none;
  font-size: larger;
  border-bottom: 1px solid var(--link-decoration-color);
}

a:active {
  color: var(--link-active-color);
}

.about__main>.button,
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  transition-duration: 0.2s;
  transition-property: opacity;
  text-align: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--button-secondary-color);
}


.navigation-list__item--active {
  text-decoration: none;
}

table {
  background-color: #767676;
  text-align: center
}

thead {
  font-weight: bolder;
  font-size: 24px;
}

tbody {
  color: white;
}

#header__about {
  color: var(--primary-color);
}

.profile__portrait {
  float: left;
  width: 250px;
  height: 250px;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
}

.page-footer {
  clear: both;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.page-header {
  display: flex;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgb(212, 200, 200);
  align-items: center;
}

.page-header__item {
  flex: 0 1 200px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.grid a {
  color: #B60050;
}

.grid__item {
  display: inline-block;
  width: 33%;
}

@supports (display: grid) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 16px;
  }

  .grid__item {
    background-color: lightgray;
    width: auto;
    min-height: auto;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 2px 2px rgb(0, 0, 0);
  }

  .grid__item:last-child {
    grid-column: 3 / 3;
    grid-row: 1 / 3;
  }
}

.contact__info {
  margin: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.form {
  display: flex;
  flex-direction: column;
  min-width: 100px;
  max-width: 250px;
  gap: 10px;
  margin: 10px;
  align-items: center;
  justify-content: center;
}




.about__main {
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__main>table {
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-radius: 20px;
  box-shadow: 10px 5px 5px rgb(0, 0, 0);
}

.about__main>p {
  text-align: center;
  margin-right: 200px;
  margin-left: 200px;
  font-size: larger;
}

#credit-vector {
  font-size: 10px;
  position: relative;
  bottom: 20px;
  color: rgb(0, 0, 0);
}


@media all and (max-width: 500px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }

  50% {
    fill: #fcffad;
  }

  100% {
    fill: #f76414;
  }
}

.sun {
  animation: 10s color-change infinite alternate linear;
}

@keyframes cloud-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.cloud-front {
  animation: 30s cloud-move infinite alternate linear;
}

@keyframes cloud-move-reverse {
  from {
    transform: translate(446px, 48px);
  }

  to {
    transform: translate(100px, 48px);
  }
}

.cloud-back {
  animation: 30s cloud-move-reverse infinite alternate linear;
}



@keyframes city-color-change {
  from {
    fill: rgb(29.00238%, 21.604919%, 29.393005%);
  }

  to {
    fill: rgb(45, 161, 163);
  }
}

.city-color {
  animation: 3s city-color-change infinite alternate linear;
}

@keyframes city-color-rest {
  from {
    fill: rgb(52.539062%, 39.988708%, 40.795898%);
  }

  to {
    fill: rgb(238, 239, 239);
  }
}

.city-rest-color {
  animation: 3s city-color-rest infinite alternate linear;
}

@keyframes city-buildings-change {
  from {
    transform: translate(0, 0);
  }

  to {
    transform: translate(0, -200px);
  }
}

.city-buildings {
  animation: 3s city-buildings-change infinite alternate linear;
}